.search {
    width: 80%;
    margin: auto;
    font-weight: 600;
}
.movie-not-found {
    margin: 30% auto;
    width: 100%;
    color: #c8c8c8;
    font-size: 64px;
    font-weight: 400;
    font-family: Arial, Verdana, sans-serif;
}
.result-sorting {
    display: flex;
    height: 40px;
    background-color: #f5f5f5;
}
.producer-name {
    padding-left: 80px;
    color: #414141;
}
.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #414141;
}
.sorting-detail {
    display: flex;
    justify-content: space-around;
    width: 20%;
}