.movie-item {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.movie-item > div {
    margin: 30px 0;
    width: 250px;
    padding: 0 3%;
}
.movie-item div img {
    width: 250px;
    display: block;
    margin: auto;
}
.img-wrapper {
    display: flex;
    flex-direction: column;
}
.img-label {
    margin: 0 auto;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    color: #3c3c3c;
}
.movie-name {
    text-transform: uppercase;
    flex-basis: 70%;
    font-weight: 600;
}
.movie-year {
    border: 1px solid #3c3c3c;
    border-radius: 2px;
    padding: 2px;
}
.movie-genre {
    color: #414141;
    font-size: 14px;
}